/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 *= require dropzone/dropzone
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-social";
 @import "font-awesome";
 @import "social-share-button";
 @import 'lightbox';

.carousel {
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-default {
  background-color: white;
  width: 100%;
  margin-bottom:0px !important;
}

.product-box {
  border: 1px solid #000000;
  text-align: center;
  padding: 5%;
}

#carousel-home,
#carousel-home .item,
#carousel-home .item img {
  width: 100%;
}

#forms {
  padding-left: 2%;
  padding-top: 2%;
}

#products-body {
  padding-left: 2%;
  padding-top: 2%;
}
