<div class ="universal-page">
  <center><h1>Products By Car Model</h1></center>
  <br>
  <% @cars.each do |car| %>
    <%= link_to car_path(car) do %>
    <div class="col-md-4">
      <div class="car-box">
        <span>
          <%= image_tag car.image %>
          <br>
          <%= car.name %>
          <br>
          <p><%= link_to "Delete", car_path(car),
          :data => {:confirm => "You sure?",
            :method => "delete"} %></p>
        </span>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
