<div class="universal-page">
  <%= link_to "Home", root_path %> > Shop By
  <center><h1>Shop By</h1></center>
  <br>
  <div class="container">
    <div class="col-md-4">
      <%= link_to "Car Model", cars_path %>
    </div>
    <div class="col-md-4">
      <%= link_to "All Products", products_path %>
    </div>
  </div>
</div>
